
.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media (min-width: 768px) {
  .containera {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr 1fr" 33.33vh;
    grid-gap: 5px;
}
.containera .box
{
    position: relative;
}
.box.box1 .blog-title,
  .box.box2 .blog-title,
  .box.box6 .blog-title,
  .box.box7 .blog-title{
    color:white;
    position: relative;
    top: 90%;
  }
  .box.box3 .blog-title,
  .box.box4 .blog-title,
  .box.box5 .blog-title,
  .box.box8 .blog-title,
  .box.box9 .blog-title,
  .box.box10 .blog-title {
    position: relative;
    top: 86%;
  }
  .containera .box.box3 img,
  .containera .box.box4 img,
  .containera .box.box5 img,
  .containera .box.box8 img,
  .containera .box.box9 img,
  .containera .box.box10 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
  }
  .containera .box.box1 img,
  .containera .box.box2 img,
  .containera .box.box6 img,
  .containera .box.box7 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .containera .box.box2,
  .containera .box.box6
  {
    grid-column: span 3;
  }
  .containera .box.box1,
  .containera .box.box7
  {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  .containera {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr 1fr 1fr 1fr 1fr"20vh "1fr 1fr 1fr 1fr 1fr 1fr"20vh "1fr 1fr 1fr 1fr 1fr 1fr"20vh "1fr 1fr 1fr 1fr 1fr 1fr"20vh;
    grid-gap: 5px;
  }

  .containera .box {
    position: relative;
  }

  .box.box1 .blog-title,
  .box.box2 .blog-title,
  .box.box3 .blog-title,
  .box.box4 .blog-title,
  .box.box5 .blog-title,
  .box.box6 .blog-title,
  .box.box7 .blog-title,
  .box.box8 .blog-title,
  .box.box9 .blog-title,
  .box.box10 .blog-title {
    position: relative;
    top: 86%;
  }

  .containera .box.box1 img,
  .containera .box.box2 img,
  .containera .box.box6 img,
  .containera .box.box7 img,
  .containera .box.box3 img,
  .containera .box.box4 img,
  .containera .box.box5 img,
  .containera .box.box8 img,
  .containera .box.box9 img,
  .containera .box.box10 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
  }

  .containera .box.box1,
  .containera .box.box7,
  .containera .box.box6,
  .containera .box.box2 {
    grid-column: span 3;
  }

  .containera .box.box2,
  .containera .box.box3,
  .containera .box.box4,
  .containera .box.box5,
  .containera .box.box8,
  .containera .box.box9,
  .containera .box.box10 {
    grid-column: span 2;
  }
}

@media (min-width: 360px) {
  .view .card-img-top {
    height: 100px;
  }

  .card-img-top {
    height: 100px;
  }

  h4,
  .h4 {
    font-size: 0.7rem;
  }

  .card .card-body .card-text {
    font-size: 0.6rem;
    font-weight: 400;
    color: #747373;
  }
}

@media (min-width: 576px) {

  h4,
  .h4 {
    font-size: 0.7rem;
  }

  .card .card-body .card-text {
    font-size: 0.5rem;
    font-weight: 400;
    color: #746666;
  }
}

@media (min-width: 768px) {
  .view .card-img-top {
    height: 300px;
  }

  h4,
  .h4 {
    font-size: 1.5rem;
  }

  .card .card-body .card-text {
    font-size: 1rem;
    font-weight: 400;
    color: #746666;
  }
}

@media (min-width: 992px) {
  .view .card-img-top {
    height: 300px;
  }

  h4,
  .h4 {
    font-size: 1.5rem;
  }

  .card .card-body .card-text {
    font-size: 1rem;
    font-weight: 400;
    color: #746666;
  }

}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #0d11f0;
  box-shadow: 0 1px 0 0 #0d11f0;
}

.active-cyan input.form-control[type=text] {
  border-bottom: 1px solid #0d11f0;
  box-shadow: 0 1px 0 0 #0d11f0;
}

.active-cyan .fa,
.active-cyan-2 .fa {
  color: #0d11f0;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.btn.btn-indigo.text-white {
  background: linear-gradient(to right, #098ae0, #6dd5fa, #d3d0d0);
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #3c39ee;
}

.img-user {
  width: 20px;
}

.dropdown-menu {
  border: none !important;
  border-radius: 0px !important;
  width: 200px;
}

.dropdown-menu .dropdown-divider {
  border-bottom: 1px solid #c5c5c5;
  margin: 5px 0;
}

.dropdown-toggle:focus {
  background-color: #8d8d8d !important;
  color: #c9c9c9 !important;
}

.dropdown-menu a {
  clear: both;
  display: block;
  color: #959494;
  padding: 5px 10px;
}

.dropdown-menu a:hover {
  background: #f8f8f8;
  text-decoration: none;
}

.box {
  background: #fff;
}

.bg-black {
  background: #000;
}

.navbar-collapse .nav-item>li>a {
  color: #000 !important;
}

.navbar-collapse ul.navbar-nav li.nav-item a:hover {
  color: #3c39ee !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #3c39ee !important;
}

button.navbar-toggler.navbar-toggler-right {
  color: #3c39ee !important;
}

.container-carousel {
  padding: 10px 0px !important;
}

.align-left {
  text-align: left !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.pagination li a {
  padding: 20px 30px !important;
  color: #a2a2a2;
}

.pagination li.active a {
  background: #752b2b !important;
  color: #fff !important;
}

.blog-content-detail {
  font-size: 22px !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blog-tag-item {
  padding: 8px 25px;
  background: #fff;
  border: 1px solid #000;
  font-weight: bold;
  font-family: arial;
  font-size: 12px;
  margin-top: 50px;
  clear: both;
  margin-right: 10px !important;
  cursor: pointer;
}

.blog-tag-item:hover {
  background: #000;
  color: #fff;
}

.jssocials-share {
  font-size: 13px !important;
  font-family: arial;
}

.search-wrapper {
  float: right;
}

.blog-input-search {
  padding: 10px 15px;
  border: 2px solid #000;
  margin-bottom: 20px;
  width: 200px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.blog-input-search:focus {
  width: 300px !important;
  outline: none;
}

.search-wrapper {
  margin-bottom: 20px;
}

.blog-search-button {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.count-search-result {
  background: #fef0b6;
  padding: 0px 5px;
}

.result-search {
  margin-top: 10px;
}

div.phpdebugbar-header,
.phpdebugbar-restore-btn {
  background: url("https://s3.envato.com/files/218847280/icon-80x80.png") !important;
  background-size: 33px !important;
  background-repeat: no-repeat !important;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to right, blue, transparent, transparent),
    url("../img/header1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }

  header.masthead p {
    font-size: 1.5rem;
  }

  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section {
  padding: 8rem 0;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(2, 0, 146, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #1b1d1f;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: blue;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: white !important;
  background-color: blue;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: blue;
    background-color: white;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: black;
    padding: 0 1rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: blue;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }

  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }

  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: blue;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: blue;
  }
}